<div id="content" class="section section-primary">
    <div class="row">    
        <div class="wrapper inline-block">
            <div class="col-sm-4">
				<h2>About</h2>
					Shelter was born out of the idea that morale affects one's ability to find and keep work, find housing, and have access to the things most people take for granted on a daily basis.  Things like Internet access, news, privacy, safety and health.
				
            </div>
            <div class="col-sm-4">
                <h2>How it works</h2>
                    All of Shelter's clients are pre-screened by project 
                    
            </div>
        </div>
    </div>
</div>