<div id="content" class="section section-primary">
    <div class="container">    
        <div class="row">    
            <div class="wrapper">
                <div class="col-sm-4">
    				<h2>About</h2>
    					<p>Shelter was born out of the idea that morale affects one's ability to find and keep work, find housing, and have access to the things most people take for granted on a daily basis.  Things like Internet access, news, privacy, safety and health.</p>
                        <p>Shelter gives people the peace of mind of knowing where they're going to sleep, the ability to rest, and to get and keep jobs while working towards permanent housing.</p>
    				
                </div>
                <div class="col-sm-4">
                    <h2>How it works</h2>
                        <p>First, all of our clients are referred to us and pre-screened by Proejct Homeless Connect.</p>

                        <p>Donors like yourself contribute funds to ensure all of the clients enrolled in our program have a bed to stay in.  Hotels offer the rooms to us at $25.00 a piece.  We ask that you donate the full amount of $25 to fund a room for tonight.</p>

                        <p>The goal is to ensure everyone in our program is safe and warm every night.  If we can't fund the campaign in full, we still ensure that as many people as we can will be put up in a hotel room so refunds are not possible</p>
                </div>
                <div class="col-sm-4">
                    <h2></h2>        
                </div>
            </div>
        </div>
    </div>
</div>