<div id="about" class="section section-primary">
    <div class="container">    
        <div class="row">    
            <div class="wrapper">
                <div class="col-sm-4">
    				<h2>About Us</h2>
    					<p>Shelter was born out of the simple idea that everyone deserves a safe place to sleep at night.</p> 
                        <p>Shelter was created by students in General Assembly's Web Development Immersive program in San Francisco. We believe a good night's rest and a warm shower can do wonders to help a person's morale and make it easier for them to find work and permanent housing.
                        </p>
                        <p>Shelter is an open source project. We welcome community feedback and support as we consider how to best improve the lives of people living on the street.</p>
    				
                </div>
                <div class="col-sm-4">
                    <h2>How It Works</h2>
                        <p>All of our clients are referred to us and pre-screened by our community partners.</p>
                        <p>Donors, like you, contribute funds to ensure all of the clients enrolled in our program have a bed to stay in tonight. Hotel partners offer us rooms at a discount. Currently, every donation of $25 makes it possible for one person to sleep in a hotel room tonight instead of on the street.</p>
                        <p>The goal is to ensure everyone in our program is safe and warm every night. Every gift matters, so thank you for participating.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Contact Us</h2>
                    <p>We'd love to hear from you!<p>
                    <strong>Shelter<br></strong>
                    San Francisco, CA<br>
                    <p>Shelter was created as part of a class project, but we are currently looking for donors to help make this project 'real'. If you can help, we'd love to hear from you.</p>
                    <%= image_tag "made_in_sf.png" %>     
                </div>
            </div>
        </div>
    </div>
</div>