
<div id="footer" class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Contact us</h1>
                <p>daimeon.pilcher@gmail.com
                    <br>
                    <br></p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
