<div>
	<h5>Let the world know how awesome you are!</h5>
	<h6><strong>Share it:</strong> "I just helped someone get off the street and into a hotel tonight."</h6>
	<br>
	<!-- Twitter -->
	<a href="http://twitter.com/home?status=I just helped someone get off the street and into a hotel tonight." title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
	 <!-- Facebook -->
	<a href="https://www.facebook.com/sharer/sharer.php?u=I just helped someone get off the street and into a hotel tonight." title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
	<!-- Google+ -->
	<a href="https://plus.google.com/share?url=I just helped someone get off the street and into a hotel tonight." title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
	<!-- StumbleUpon -->
	<a href="http://www.stumbleupon.com/submit?url=I just helped someone get off the street and into a hotel tonight." title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>
	<!-- LinkedIn --> 
	<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=I just helped someone get off the street and into a hotel tonight." title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
</div>