<div id="hero-image">
	<div id="splash" class="row">
		<div id="wrapper" class="container">
			<div class="col-sm-5">
				<h1 id="title">Shelter</h1>
					<h3 id="tagline">Fund hotel rooms for people living on the street</h3>
					<blockquote id="stats"><p>In San Francisco, there are 6,436 homeless people and a little over half of them live on the street. <cite><a href="http://www.businessinsider.com/homeless-near-twitter-headquarters-2014-1" target="blank">Business Insider</a></cite></p></blockquote>
				</span id="button">
					<%= render "shared/donate_button" %>
				</span>
			</div>
		</div>
	</div>
</div>

<%= render "shared/about" %>
	
	

