<div id="page-header">
	<div id="hero-image">
		<div id="splash" class="row">
			<div id="wrapper" class="container">
				<div class="col-sm-5">
					<h1 id="headline">Shelter</h1>
					<span id="subhead">
						<p>Fund hotel rooms for people living on the street</p>
						<p>&nbsp;</p>
						<p>As of 2014, in San Francisco, there are 6,436 homeless people and a little over half of them live on the street. <a href="http://www.businessinsider.com/homeless-near-twitter-headquarters-2014-1">Source</a></p>	
					</span>
					</span id="button">
						<%= render "shared/donate_button" %>
					</span>

				</div>
			</div>
		</div>
	</div>
</div>

	
	

