<div class="container" id="content">
	<div id="full-page">
		<% rand_num = rand(1..(Client.count)) %>
		<div class="row">
  			<div class="col-md-2"></div>
  			<div class="col-md-8" id="middle-page"> 
  				<div id="donation-headline">
					Thank you! You donated $<strong><%=@amount / 100%>.00</strong>.</div>
  				<div id="donation-body">
					You just helped <strong><a href="/clients/<%= rand_num %>"><%= Client.find(rand_num).first_name %></a></strong> get off the street and into a hotel room for the night.
					<br>Visit your <a href="/users/<%=current_user.id %>">profile</a> page to see your donation history.
				</div>
			</div>
  			<div class="col-md-2"></div>
		</div>
	</div>
</div>

