<%= render "/shared/navbar" %>

<% if Donation.where("created_at >= ?", Time.zone.now.beginning_of_day).count < Client.count %>

<%= form_tag donations_path do %>


  <article>
    <label class="amount">
     There are currently <large><%= Client.count - Donation.where("created_at >= ?", Time.zone.now.beginning_of_day).count %></large> people who still need a home tonight!
     <div id="tag-line">
     	Do your part by donating $25 today.
     </div>
  </label>
  </article>
<div id="button-stripe">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="2500">
  </script>
 </div>
<% end %>

<% else %>
<div id="donations-complete">
Thank you for your visting our site!<br>
We completed our donations for today come back tomorrow to help out.
</div>

<% end %>


