<div class="container" id="donations">
  <h3><small>Make A Donation</small></h3>
  <h3>Okay, here is the situation.</h3>

<% if Donation.where("created_at >= ?", Time.zone.now.beginning_of_day).count < Client.count %>

<%= form_tag donations_path do %>
  <article>
    <label class="amount">
      <% people_needed_help = Client.count - Donation.where("created_at >= ?", Time.zone.now.beginning_of_day).count %>
    
    <div class="row">  
      <div class="col-md-8">
          <h4>We still need to get <large><%= pluralize( people_needed_help, 'person' ) %></large>  off the street and into a hotel room tonight!</h4>
          <h5>You can help make this possible by donating $25 for a room, right now. Seriously, it's that easy. We'll take care of the rest.</h5>
      </div>
  </label>
</article>
  <div id="button-stripe text-center">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="One Hotel Room"
          data-amount="2500">
  </script>
 </div>
 <br>
   <%= image_tag "stripe_logo.png" %>
<% end %>
</div>

<% else %>

<div class="row">
  <div class="col-md-8" id="completed"><h3>Thank you for visting our site!</h3><h4>We completed our donations for today. Please check back tomorrow to help out. Oh, and bring a friend next time. : )</h4>

<% end %>
</div>
</div>

