<%= render "/shared/navbar"  %>
<div class="container">



        <h2><small>Clients</small></h2>

            
      <% @clients.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |client| %>
          <div class="col-md-4">
          <div class="thumbnail">
            <%=image_tag("#{client.photo_url}", :class => "client_image") %>
            <h3><%= "#{client.first_name}" %></h3>
            <p><%= truncate("#{client.bio}", length: 110) {link_to "Learn more..", client_path(client) } %></p>
          </div>
        </div>
          <% end %>

        </div>

        <% end %>
      

</div>
      


