#headline {
	color: white;
	text-align: left;
	font-size: 80px;
	margin-top: 60px;
}

#box {
	background: black;
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,.4), rgba(0,0,0,.4));
	background: -moz-linear-gradient(bottom,rgba(0,0,0,.8), rgba(0,0,0,.4));
	height: 250px;
	width: 600px;
	position: relative;
	top: 80px;
	margin: 0 auto;
}

#subhead {
	color: white;
	text-align: left;
	font-size: 22px;
}

#buttons {
	position: relative;
	top: 100px;
	margin: 0 auto;
	text-align: center;
}

.form-top {
	width: 700px;
	margin-top: 20px;
}

.alert-danger {
	margin-bottom: 0px;
}
