
#hero-image {
	background: url('shelter-splash.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

#thank-you-image {
	margin-top: 30px;
	max-height: 300px;
}

.thumbnail {
	padding: 20px;
}

.client_thumb_image { 
	max-height: 250px;
	padding: 5px;
}

.client_story_image { 
	max-height: 300px;
	padding: 5px;
}
