// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-12 {
	
	padding-top: 40px;
	margin-left: -50px;
}
.box1 {
	
	padding-top: 30px;
}

.col-md-7 {
	
	padding-top:80px;
}

.rendered-data #title {

	font-size: 35px;
	padding-bottom:10px;
	padding-top: 40px;
	font-weight: bold;

	
}
.rendered-data large {
	padding-left: 30px;
}

#funding_needed {
	font-size: 35px;
	

}

#donate-button {
	
	margin-left: 300px;
}