// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
}

.container {
  height: 100%;
}
.client_name{
	margin-top: 40px;
}
.client_image2{
	/*margin-top: 80px;*/
	max-width: 100%;
}
.client_image {
	max-height: 300px;
	max-width: 100%;
}

.thumbnails {
	height: 300px;
	width: 400px;
	padding: 50px;
	border-radius: 25px;
	display: inline-block;
}

.thumbnail {
	padding: 15px;
	display: inline-block;
}

.image_client {
	clip-path: rect(400px, 300px);
	z-index: 1000;
}