// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  height: 100%;
}

#full-page{
  height: 100%;
}

.amount {
	padding-top: 150px;
	font-size: 20pt;
}

#button-stripe {
	padding-left: 300px;	
}

.amount large {
	color: red;
}

#tag-line {
	font-size: 15pt ;
}

#donation-headline {
	/*padding-top: 150px;*/
	font-size: 30pt;
}

#donation-body {
	font-size: 15pt;
}

#donation-body large {
	font-weight: bold;
}

#donations-complete {
	padding-top: 150px;
}

#donations-complete h4 {
	font-size: 25pt;
}

#middle-page {
	margin-top: 150px;
}




