// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.amount {
	padding-top: 150px;
	padding-left: 300px;
	padding-bottom: 10px;

	font-size: 20pt;
}

#button-stripe {

padding-left: 300px;
	
}

large {
	color: red;
}

#tag-line {
	font-size: 15pt ;
	
}

