// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  height: 100%;
}

.container-fluid {
  height: 100%;
}
.rendered-data {
  font-size: 10pt;
}


.col-md-4 h5 {
  font-weight: bold;
}

.outside-links {
  padding-bottom:20px;

 
}


.form-horizontal {
  
  padding-left: 200px;
  padding-top: 30px;
}

#edit-heading {
  padding-left: 160px;
  padding-top: 50px;
}
.col-sm-offset-2 {
  padding-top: 30px;
}



