// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-content {
  background-color: #eee;
  height: 600px; 
  border-style: solid;
  border-width: 1px;  

}

.right-content {
  height: 600px;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;  
  overflow: scroll;   
}

.container h1 {
   color: white;
}

header h1 {

  padding-top: 5px;

}

.container-fluid h2 {
  padding-left: 140px;

}

.rendered-data {
  padding-top: 350px;
  padding-left: 10px;
} 

.container {
  padding-bottom: 50px;
}

