// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hero-image {
	background: url('shelter-splash.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

